.serviceCard{
    width: 350px;
    margin-bottom: 20px;
}

.serviceCardWrapper{
    padding: 20px;
    text-align: center;
}

.serviceTop{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.801);
}

.serviceCenter h2{
    font-size: 18px;
    margin: 15px 0;
}

.serviceBottom p{
    color: rgb(134, 134, 134);
    font-weight: 500;
}